body {
background-color: black;
text-align: center;
align-items: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.heading {
font-weight: normal;
font-size: 50px;
color: white;
}

.link {
color: aquamarine;
font-size: 16px;
}    

.footer {
color: grey;
text-align: right;
}    

